@import "../../../pages/shared/global.css";

#contact {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact .contactList {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
#contact .contactList .contactItem {
    text-align: center;
    margin: 0 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}
#contact .contactList .contactItem .contactItemIcon {
    font-size: 3rem;
}
.contactList2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.contactList2 .contactItemIcon {
    font-size: 1.3rem;
    margin-right: 0.3rem;
}