#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

#skills .skillsContent {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#skills .skillsContent .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
#skills .skillsContent .subtitle {
    font-size: 1.7rem;
    font-weight: bold;

    margin-top: 1rem;
}

#skills .skillsContent .skillsList {
    display: flex;
    flex-flow: row wrap;
}

#skills .skillsContent .skillsList .skillItem {
    background-color: #444;
    border-radius: 10%;
    box-shadow: 0 0.3rem 1rem darkgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 8rem;
}
#skills .skillsContent .skillsList .skillItem .skillIcon {
    color: white;
    font-size: 2rem;
}
#skills .skillsContent .skillsList .skillItem .skillLanguage {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}