@import "../../shared/global.scss";
@import "../../shared/tags.scss";

#projects {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .projectsContent {
        width: 80%;

        display: flex;
        flex-direction: column;

        .title {
            color: $iconColor;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .projectsList {
            display: grid;
            grid-auto-flow: dense;
            grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
            gap: 1rem;

            .project {
                border: 1px solid $backgroundPrimary;
                border-radius: 0.3rem;
                box-shadow: 6px 0.4rem 0.8rem 0.1rem #e5b7f5;
                width: 100%;
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: column;

                .title {
                    background-color: $backgroundPrimary;

                    label {
                        font-size: 1.3rem;
                    }
                }

                .content {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;

                    flex: 1;

                    .information {
                        padding: 1rem;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 0.3rem;

                        flex: 1;

                        label {
                            color: $colorPrimary;
                            text-align: center;
                            margin: 0;
                        }
                    }

                    .links {
                        margin-bottom: 0.5rem;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;

                        .link {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            i {
                                margin-right: 0.3rem;
                            }

                            img {
                                width: 1rem;
                                margin-right: 0.3rem;
                            }
                        }
                    }
                }

            }

            @media screen and (max-width: 1024px) {
                grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
            }
        }

        @media screen and (max-width: 1024px) {
            width: 90%;
        }
    }
}