@charset "utf-8";
@import "~bulma/sass/components/navbar.sass";

@import "../../shared/global.scss";


#menu {
    position: sticky;
    top: 0;

    .navbar-brand {
        justify-content: space-between;

        #title {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .navbar-item {
        gap: 0.5rem;

        @media screen and (max-width: 1024px) {
            svg {
                margin-right: 0.5rem;
            }
        }
    }
}