@import "../../shared/global.scss";

footer {
    background-color: whitesmoke;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: $linkColorHover;
    }
}