#works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

#works .worksContent {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#works .worksContent .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
#works .worksContent .worksList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#works .worksContent .worksList .work {
    border: 1px solid #444;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 1rem darkgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#works .worksContent .worksList .work .content {
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
}
#works .worksContent .worksList .work .content .information {
    padding: 1rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;
}
#works .worksContent .worksList .work .content .information .title {
    text-align: start;
    margin-bottom: 0.5rem;
}
#works .worksContent .worksList .work .content .tags {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    white-space: nowrap;
    gap: 0.3rem;

    /* HIDDE SCROLL FIREFOX, EDGE */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* HIDDE SCROLL CHROME, SAFARI, OPERA */
#works .worksContent .worksList .work .content .tags::-webkit-scrollbar {
    display: none;
}
#works .worksContent .worksList .work .content .tags .tag {
    background-color: #444;
    border-radius: 1rem;
    color: white;
    padding: 1rem;
}
#works .worksContent .worksList .work .content .link {
    width: 100%;

    text-align: center;
    padding: 1rem;
}
#works .worksContent .worksList .work .contentDivition {
    background-color: #444;

    width: 1px;
}
#works .worksContent .worksList .work .contentImage {
    padding: 0.3rem;
    flex: 1;
}
#works .worksContent .worksList .work .contentImage .image {
    border-radius: 1rem;
    object-fit: cover;

    width: 100%;
}

@media screen and 
(max-width: 1024px) {
    #works .worksContent {
        width: 90%;
    }
    #works .worksContent .worksList .work {
        flex-direction: column-reverse;
    }
}