@import "../../shared/global.scss";
@import "../../shared/tags.scss";

#works {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .worksContent {
        display: flex;
        flex-direction: column;
        width: 80%;

        .title {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .worksList {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .work {
                border: 1px solid #444;
                border-radius: 1rem;
                box-shadow: 0 0.3rem 1rem darkgray;
                width: 100%;
                height: 300px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .content {
                    width: 50%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    flex: 1;

                    .information {
                        color: $linkColorHover;
                        padding: 1rem;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        flex: 1;

                        .title {
                            text-align: start;
                            margin-bottom: 0.5rem;
                        }
                    }

                    .link {
                        width: 100%;

                        text-align: center;
                        padding: 1rem;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 95%;
                    }
                }

                .contentImage {
                    padding: 0.3rem;
                    width: 50%;
                    
                    flex: 1;

                    .image {
                        border-radius: 1rem;
                        object-fit: cover;

                        width: 100%;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 95%;
                    }
                }

                @media screen and (max-width: 1024px) {
                    flex-direction: column-reverse;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            width: 90%;
        }
    }
}