@import "../shared/global.css";

#menu {
    background-color: var(--backgroundPrimary);
    border-bottom: 0.2rem solid yellow;

    position: sticky;
    top: 0;
}
#menu .navbar-brand {
    justify-content: space-between;
}
#menu .navbar-brand #title {
    font-size: 1.5rem;
    font-weight: bold;
}
#menu .navbar-brand .navbar-burger {
    color: white;
}
#menu .navbar-item {
    background-color: var(--backgroundPrimary);
    color: white;

    gap: 0.5rem;
}
#menu .navbar-item:hover, #menu .navbar-item:active, #menu .navbar-item:focus {
    background-color: var(--backgroundPrimaryHover);
}
#menu .navbar-item .navbar-dropdown {
    background-color: var(--backgroundPrimary);
}
#menu .navbar-link {
    color: white;
}
#menu .navbar-link:hover, #menu .navbar-link:active, #menu .navbar-link:focus {
    background-color: var(--backgroundPrimaryHover);
}
#menu .navbar-link:not(.is-arrowless)::after {
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}

@media screen and (max-width: 1024px) {
    #menu .navbar-menu.is-active {
        padding: 0;
    }
    #menu .navbar-item .navbarItemIcon {
        margin-right: 0.5rem;
    }
}