#projects {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects .projectsContent {
    width: 80%;

    display: flex;
    flex-direction: column;
}
#projects .projectsContent .projectsList .project {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects .projectsContent .projectsList .project .title, 
#projects .projectsContent .projectsList .project .content .tags .tag, 
#projects .projectsContent .projectsList .project .links .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#projects .projectsContent .projectsList .project .content {
    width: 60%;
}
#projects .projectsContent .projectsList .project .content .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#projects .projectsContent .projectsList .project .content .tags {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#projects .projectsContent .projectsList .project .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
@media screen and (max-width: 1024px) {
    #projects .projectsContent {
        width: 90%;
    }
    #projects .projectsContent .projectsList {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

    #projects .projectsContent .projectsList .project .content {
        width: 90%;
    }
}

/* @media (prefers-color-scheme: dark) {
    #projects .projectsContent .projectsList .work {
        box-shadow: 6px 0.4rem 0.8rem 0.1rem #353535;
    }
} */