@charset "utf-8";

@import "../../shared/global.scss";

$navbar-background-color: $backgroundPrimary;
$navbar-item-color: white;
$navbar-item-hover-background-color: $backgroundPrimaryHover;
$navbar-dropdown-arrow: white;
$navbar-item-hover-color: white;
$navbar-dropdown-background-color: $backgroundPrimaryHover;
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-hover-background-color: $backgroundPrimary;
@import "~bulma/sass/components/navbar.sass";


#menu {
    border-bottom: 0.2rem solid yellow;

    position: sticky;
    top: 0;

    .navbar-brand {
        justify-content: space-between;

        #title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .navbar-burger {
            color: white;
        }
    }

    .navbar-item {
        gap: 0.5rem;

        @media screen and (max-width: 1024px) {
            .navbarItemIcon {
                margin-right: 0.5rem;
            }
        }
    }

    .navbar-link:not(.is-arrowless)::after {
        border-left: 3px solid white;
        border-bottom: 3px solid white;
    }
}