@charset "utf-8";
@import "../../shared/global.scss";

#contact,
#_contact {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;

    .title {
        color: $iconColor;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    .contactList {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        .contactItem {
            text-align: center;
            margin: 0 1rem;
            padding: 1rem;

            display: flex;
            flex-direction: column;

            .contactItemIcon {
                font-size: 3rem;
            }
        }
    }

    .contactList2 {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .contactItemIcon {
            font-size: 1.3rem;
            margin-right: 0.3rem;
        }
    }
}