#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

#skills .skillsContent {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#skills .skillsContent .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
#skills .skillsContent .subtitle {
    font-size: 1.7rem;
    font-weight: bold;

    margin-top: 1rem;
}

#skills .skillsContent .skillsList {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
}

#skills .skillsContent .skillsList .skillItem {
    background-color: #444;
    border-radius: 10%;
    box-shadow: 0 0.3rem 1rem darkgray;
    padding: 1rem;
    margin: 1rem;
    height: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills .skillsContent .skillsList .skillItem .skillIcon {
    color: white;
    font-size: 2rem;
}
#skills .skillsContent .skillsList .skillItem .skillLanguage {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and 
(max-width: 1024px) {
    #skills .skillsContent {
        width: 100%;
    }

    #skills .skillsContent .subtitle {
        margin: 0.5rem 1rem;
    }
    #skills .skillsContent .skillsList {
        gap: 0;
    }
}