@import "./global.scss";

.tags {
    width: 95%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    overflow: scroll;
    white-space: nowrap;
    gap: 0.3rem;

    /* HIDDE SCROLL FIREFOX, EDGE */
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* HIDDE SCROLL CHROME, SAFARI, OPERA */
    ::-webkit-scrollbar {
        display: none;
    }

    .tag {
        background-color: $linkColorHover;
        border-radius: 1rem;
        color: white;
        padding: 0.5rem;
    }
}