@import "./global.css";

.tags {
    width: 95%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    overflow: scroll;
    white-space: nowrap;
    gap: 0.3rem;

    /* HIDDE SCROLL FIREFOX, EDGE */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* HIDDE SCROLL CHROME, SAFARI, OPERA */
.tags ::-webkit-scrollbar {
    display: none;
}
.tags .tag {
    background-color: var(--linkColorHover);
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
}
.tags .tag i {
    margin-right: 0.3rem;
}